.question-heading {
    padding: 15px;
    background: #17A2B8;
    color: #fff;
    font-size: 1.1rem;
}

.question-main {
    padding: 15px;
}

.question-main .question-title {
    margin-bottom: 1rem;
    font-size: 1rem;
    color: #222
}

.question-main .question-content .question-group {
    position: relative;
}

.question-main .question-content .question-group label {
    cursor: pointer;
    margin-bottom: 0;
    text-align: left;
    line-height: 1.2;
    color: #333;
    padding-top: 0;
    font-size: .95rem;
    padding-left: 25px;
}

.question-main .question-content .question-group .style-radio {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 3px;
    margin: -6px 0 0 0;
    z-index: 2;
    cursor: pointer;
}

.question-main .question-content .question-group label:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    border: 1px solid #bbb;
    background: #fff;
}

.question-main .question-content .question-group .style-radio:checked + label:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 4px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    display: inline-block;
    font-size: 11px;
    line-height: 1;
    width: 8px;
    height: 8px;
    background: #17A2B8;
    -webkit-box-shadow: 0px 0px 1px #17A2B8;
    box-shadow: 0px 0px 1px #17A2B8;
    border-radius: 50px;
}

.question-format-01 .question-main .question-item:not(:last-of-type) {
    margin-bottom: 2rem;
}

.question-format-01 .question-main .question-item .question-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.question-format-01 .question-main .question-item .question-content .question-group {
    width: 25%;
}

.question-inner {
    margin-bottom: 1.5rem;
    box-shadow: 0 0 2px rgba(0, 0, 0, .1);
    background: #fbfbfb;
}

.question-format-02 .question-main .question-content .question-group {
    margin-bottom: 1rem;
}

.question-format-03 .question-subtitle {
    font-size: .95rem;
    color: #000;
    font-weight: 700;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

.question-format-03 .question-subtitle span {
    margin-right: 5px;
}

.question-format-03 .question-group {
    margin-bottom: 1rem;
}

.question-format-03 .question-content {
    margin-bottom: 2rem;
}

.question-actions {
    padding: 15px;
    text-align: center;
    background: #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, .1);
}

.question-button {
    margin: 0 5px;
    border: 0;
    outline: none !important;
    min-width: 100px;
    padding: 7px 20px;
    border-radius: 20px;
    box-shadow: 0 0 2px rgba(0, 0, 0, .1);
    transition: .3s all linear;
    color: #fff;
    cursor: pointer;
}

.question-button.button-next {
    background: #DC3545;
}

.question-button.button-next:hover,
.question-button.button-next:focus {
    background: #bf2f3d;
}

.question-button.button-submit {
    background: #3C8DBC;
}

.question-button.button-submit:hover,
.question-button.button-submit:focus {
    background: #33779f;
}

.question-buttons {
    padding: 15px;
    background: #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, .1);
    margin-bottom: 1.5rem;
}

.question-buttons .question-column-left .question-button {
    border-radius: 0;
    background: #3C8DBC;
    min-width: 50px;
    transition: .3s all ease;
    padding: 5px 0;
    margin: 0 2px;
}

.question-buttons .question-column-left .question-button.button-active {
    background: #19597d;
}

.question-buttons .question-column-left .question-button:hover {
    background: #19597d;
}

.question-buttons .question-column-right .question-button {
    background: #DC3545;
}

.question-buttons .question-column-right .question-button:hover {
    background: #bf2f3d;
}

.question-button.button-ok {
    background: #423144;
    color: #fff;
}

.question-button.button-ok:hover,
.question-button.button-ok:focus {
    background: #6a4f6d;
}

/* Modal */
.custom-scroll .modal-backdrop {
    display: none;
}

#popupScores:before,
#popupAlert:before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(0, 0, 0, .6)
}

#popupScores .modal-dialog,
#popupAlert .modal-dialog {
    z-index: 22;
    position: relative;
    top: 10%;
}

#popupScores.modal.fade .modal-dialog,
#popupAlert.modal.fade .modal-dialog {
    transform: scale(0);
    -webkit-transition: all 0.3s cubic-bezier(0, 0.42, 1, 1.29) 0s;
    -moz-transition: all 0.3s cubic-bezier(0, 0.42, 1, 1.29) 0s;
    -o-transition: all 0.3s cubic-bezier(0, 0.42, 1, 1.29) 0s;
    transition: all 0.3s cubic-bezier(0, 0.42, 1, 1.29) 0s;
}

#popupScores.modal.fade.show .modal-dialog,
#popupAlert.modal.fade.show .modal-dialog {
    transform: scale(1);
}

#popupScores .modal-content,
#popupAlert .modal-content {
    position: relative;
    border-radius: 0;
    border: 0
}

#popupScores .modal-content .modal-body,
#popupAlert .modal-content .modal-body {
    padding: 0;
}

#popupScores .modal-content .close,
#popupAlert .modal-content .close {
    position: absolute;
    top: 0;
    right: 0;
    font-size: .9rem;
    height: 30px;
    width: 30px;
    background: #DC3545;
    color: #fff;
    z-index: 2;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none !important;
}

#popupScores .modal-content .score-top,
#popupAlert .modal-content .score-top {
    position: relative;
    padding-bottom: 1rem;
}

#popupScores .modal-content .score-top:before,
#popupAlert .modal-content .score-top:before {
    font-size: 1.4em;
    display: block;
    width: 0;
    height: 0;
    content: "";
    pointer-events: none;
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
    border-right: 15px solid transparent;
    border-top: 15px solid #fff;
    border-left: 15px solid transparent;
}

#popupScores .modal-content .score-number,
#popupAlert .modal-content .score-number {
    text-align: center;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid #28a745;
    border-radius: 100%;
    height: 7rem;
    width: 7rem;
    margin: 50px auto 20px;
    color: #28a745;
}

#popupScores .modal-content .score-text,
#popupAlert .modal-content .score-text {
    text-align: center;
}

#popupScores .modal-content .score-text h4,
#popupAlert .modal-content .score-text h4 {
    font-weight: bold;
    font-size: 1.2rem;
    color: #289a42
}

#popupScores .modal-content .score-text p,
#popupAlert .modal-content .score-text p {
    font-size: 1rem;
}

#popupScores .modal-content .score-text p b,
#popupAlert .modal-content .score-text p b {
    color: #28a745;
}

#popupScores .modal-content .score-bottom {
    background: #d0f3ee;
    padding: 40px;
    text-align: center;
}

#popupAlert .modal-content .score-text {
    padding: 50px 15px 20px
}

#popupAlert .modal-content .score-bottom {
    background: #DC3545;
    padding: 40px;
    text-align: center;
}

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background: #17A2B8;
    overflow: hidden;
}

.preloader .preloader-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.preloader .preloader-inner .preloader-radius {
    width: 72px;
    height: 72px;
    display: inline-block;
    padding: 0px;
}

.preloader .preloader-inner .preloader-radius span {
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background: #fff;
    -webkit-animation: preloader 1.6s linear infinite;
    animation: preloader 1.6s linear infinite;
}

.preloader .preloader-inner .preloader-radius span:last-child {
    animation-delay: -1s;
    -webkit-animation-delay: -1s;
}

@keyframes preloader {
    0% {
        -webkit-transform: scale(0, 0);
        transform: scale(0, 0);
        opacity: 0.5;
    }
    100% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
        opacity: 0;
    }
}


@media screen and (max-width: 768px) {
    .question-heading {
        font-size: 1rem;
    }

    .question-main .question-title {
        font-size: .95rem;
    }

    .question-format-01 .question-main .question-item .question-content {
        flex-wrap: wrap;
    }

    .question-format-01 .question-main .question-item .question-content .question-group {
        width: 50%;
        margin-bottom: 1rem;
    }

    .question-main .question-content .question-group label {
        font-size: .9rem;
    }

    .question-format-03 .question-subtitle {
        display: block;
    }

    .question-format-03 .question-subtitle {
        font-size: .9rem;
    }

    .question-button {
        margin: 5px 0;
        font-size: .9rem;
    }

    .question-buttons .question-column-left .question-button {
        margin-bottom: .4rem;
    }

    .question-column-right {
        text-align: center;
    }
}

@media screen and (max-width: 600px) {
    .question-format-01 .question-main .question-item .question-content .question-group {
        width: 100%;
        margin-bottom: 1rem;
    }

    .question-format-01 .question-main .question-item .question-content .question-group:last-of-type {
        margin-bottom: 0;
    }
}

@media screen and (min-width: 991px) {
    .custom-scroll::-webkit-scrollbar {
        width: .3rem;
    }

    .custom-scroll::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    .custom-scroll::-webkit-scrollbar-thumb {
        background: #888;
    }

    .custom-scroll::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

}